{% extends "landingpage/base.html" %}
{% block js %}
<script type="text/javascript">

</script>
{% endblock %}


{% block body %}
<div class="contentpanel">
    <div class="row" style="padding:20px 20px;">
    	<div class="col-md-12">
    		{% if success %}
    			Thank You
    		{% else %}
        		<h2>Please Insert Your Email</h2>
        	{% endif %}

        	{% if error %}
        		{{msg}}
        	{% endif %}

        	{% if success %}
        		{{ msg }}
        	{% else %}
	        	<form action="." method="POST">{% csrf_token %}
	        		<input type="email" name="email">
	        		<input type="submit">
	        	</form>
	        {% endif %}
        </div>
    </div>
</div>
<div style="height:100px;"></div>
{% endblock %}