<div class="col-sm-12">
                                <div class="outer-div" style=" border-top: 4px solid#366D9C;">
                                    <div class="panel b-a">
                                        <div class="row m-n">
                                            <div class="col-md-4 b-b b-r">
                                                <a href="live-support.html" class="block padder-v hover">
                                                    <span class="i-s i-s-2x pull-left m-r-sm">
                                                       <i class="i i-hexagon2 i-s-base text-danger hover-rotate"></i>
                                                       <i class="fa fa-comments i-1x text-white"></i>
                                                    </span>
                                                    <span class="clear">
                                                       <span class="h4 block m-t-xs text-danger">Live Support</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col-md-4 b-b b-r">
                                                <a href="offline-ticket.html" class="block padder-v hover">
                                                    <span class="i-s i-s-2x pull-left m-r-sm">
                                                       <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                                       <i class="fa fa-list-alt i-1x text-white"></i>
                                                    </span>
                                                    <span class="clear">
                                                       <span class="h4 block m-t-xs text-success"> Offline Ticket</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col-md-4 b-b b-r">
                                                <a href="Kyc.html" class="block padder-v hover">
                                                    <span class="i-s i-s-2x pull-left m-r-sm">
                                                       <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                                                       <i class="i i-users2 i-sm text-white"></i>
                                                    </span>
                                                    <span class="clear">
                                                       <span class="h4 block m-t-xs text-info">KYC Form</span>
                                                       <a href="#" class="Status">Status :</a></br>
                                                       <a href="#" class="Status">
                                                       <button type="button" class="share-popup" data-toggle="modal" data-target="#myModal">Share|</button>
                                                        <div id="myModal" class="modal fade" role="dialog">
                                                                    <div class="modal-dialog">
                                                                    <!-- Modal content-->
                                                                        <div class="modal-content">
                                                                            <div class="modal-header headouter">
                                                                                <div class="modal-header headbg">
                                                                                    <button type="button" class="close headbtn" data-dismiss="modal">&times;</button>
                                                                                    <h4 class="modal-title">Select Subscribed Service Provider</h4>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-body bodymod">
                                                                                <div class="form-group">
                                                                                    <select class="form-control" id="sel1" multiple>
                                                                                        <option>rajeev_904_bits@hotmail.com</option>
                                                                                    </select>
                                                                                </div>
                                                                                <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
                                                                            </div>
                                                                            <div class="modal-footer footerdiv">
                                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                                <button type="button" class="btn btn-default subbtn" data-dismiss="modal">Submit</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                        </div>
                                                        </a>
                                                        <a href="#" class="Status">Download</a>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="panel b-a">
                                                        <div class="row m-n">
                                                            <div class="col-md-4 b-b b-r">
                                                                <a href="my-service-provider.html" class="block padder-v hover">
                                                                    <span class="i-s i-s-2x pull-left m-r-sm">
                                                                        <i class="i i-hexagon2 i-s-base text-danger hover-rotate"></i>
                                                                        <i class="fa fa-rss i-1x text-white"></i>
                                                                    </span>
                                                                    <span class="clear">
                                                                    <span class="h4 block m-t-xs text-danger">My Service Providers</span>
                                                                        <small class="text-muted text-u-c">Total + 0</small>
                                                                        <a href="#" class="add">ADD NEW</a> 
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-4 b-b b-r ticket-status">
                                                                <a href="tickets.html" class="block padder-v hover">
                                                                    <span class="col-md-6 i-s i-s-2x pull-left m-r-sm">
                                                                        <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                                                        <i class="fa fa-ticket i-1x text-white"></i>
                                                                        </i>
                                                                    </span>
                                                                    <span class="clear">
                                                                    <div class="col-md-7 nav2">
                                                                        <li class="hov"><h4>Ticket Status</h4>
                                                                            <ul class="col-md-12 col-xs-8 main">
                                                                                <li>On-Hold = 0</li>
                                                                                <li>Resolved = 0</li>
                                                                                <li>Closed = 0</li>
                                                                                <li>Re-Open = 0</li>
                                                                                <li>Assigned = 9</li>
                                                                            </ul>
                                                                       </li>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-4 b-b b-r">
                                                                <a href="Forms.html" class="block padder-v hover">
                                                                    <span class="col-md-6 i-s i-s-2x pull-left m-r-sm">
                                                                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                                                                        <i class="fa fa-edit i-1x text-white"></i>
                                                                    </span>
                                                                    <span class="clear">
                                                                        <span class="h4 block m-t-xs text-info"> Forms</span>
                                                                       <a href="Forms.html" class="Status">Service Request|</a>
                                                                       <a href="Forms.html" class="Status">Application|</a>
                                                                       <a href="Forms.html" class="Status"> Query</a>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="col-sm-3 hide">
                                                                <section class="panel b-a">
                                                                    <header class="panel-heading b-b b-light">
                                                                        <ul class="nav nav-pills pull-right">
                                                                            <li>
                                                                                <a href="ajax.pie.html" class="text-muted" data-bjax data-target="#b-c">
                                                                                    <i class="i i-cycle"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#" class="panel-toggle text-muted">
                                                                                    <i class="i i-plus text-active"></i>
                                                                                    <i class="i i-minus text"></i>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                        Connection
                                                                    </header>
                                                                    <div class="panel-body text-center bg-light lter" id="b-c">
                                                                        <div class="easypiechart inline m-b m-t" data-percent="60" data-line-width="4" data-bar-Color="#23aa8c" data-track-Color="#c5d1da" data-color="#2a3844" data-scale-Color="false" data-size="120" data-line-cap='butt' data-animate="2000">
                                                                            <div>
                                                                                <span class="h2 m-l-sm step"></span>%
                                                                                <div class="text text-xs">completed</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>                      
                                                            </div>
                                                        </div>  
                                                    </section>
                                                </section>

