{% extends 'dashboard/base.html' %}

{% block css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

{% endblock %}

{% block breadcumb %}
    <div class="pull-left breadcrumb_admin clear_both">
        <div class="pull-left page_title theme_color">
            <h1>dashboard</h1>
            <h2 class="">Account Verification Service</h2>
        </div>
        <div class="pull-right">
            <ol class="breadcrumb">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="active"> Account Verification Service</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="modal fade" id="reject_req" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
            <h4 class="modal-title" id="exampleModalLabel">Reject Account Verification Service</h4>
          </div>
          <div class="modal-body">
            <form>
              <input type="hidden" id="key_id">
              <input type="hidden" id="status_id">
              <div class="form-group">
                <label for="message-text" class="control-label">Reason:</label>
                <textarea class="form-control" id="reject-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" onclick="submit_reject()" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel default blue_title h2">
                <div class="panel-heading">Account Verification Service
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a data-toggle="tab" href="#new">New</a></li>
                        <li><a data-toggle="tab" href="#history">History</a></li>
                    </ul>
                    <div class="block-web">
                        <div class="tab-content" id="myTabContent">
                            <div id="new" class="tab-pane fade in active">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Creation Date</th>
                                                <th>User Name</th>
                                                <th>Account Details</th>
                                                <th>Status</th>
                                                <th>Reason</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in subscribe_provider_news %}
                                            <tr id="row_{{i.id}}">
                                                <td>{{ i.created_at|date:'d M Y' }}</td>
                                                <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                                                <td class="show_data" data-container="body" title="Account Information" data-toggle="popover" data-placement="bottom" data-content="- Account Number : {{ i.account_number }} <br> - Registered Mobile Number : {{ i.registered_mobile_number }} <br> - Date of Birth : {{ i.dob }} <br> - Mother's Maiden Name : {{ i.mothers_name }}">Display Info</td>
                                                <td>{{i.get_status_display}}</td>
                                                <td>{% if i.reason == None or i.reason == "" %} - {% else %} {{ i.reason }} {% endif %}</td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm" href="javascript:void(0);" style="color:#fff;" onclick="accept_status({{i.id}}, 1);" {% if i.status == '1' %} disabled {% endif %}>Verified</a>
                                                    <a class="btn btn-danger btn-sm" href="javascript:void(0);" style="color:#fff;" onclick="accept_status({{i.id}}, 2)" {% if i.status == '2' %} disabled {% endif %}>Rejected  </a>
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="5" class="text-center">Nothing new for verification</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="history" class="tab-pane fade">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Creation Date</th>
                                                <th>User Name</th>
                                                <th>Account Details</th>
                                                <th>Status</th>
                                                <th>Reason</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in subscribe_provider_histories %}
                                            <tr id="row_{{i.id}}">
                                                <td>{{ i.created_at|date:'d M Y' }}</td>
                                                <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                                                <td class="show_data" data-container="body" title="Account Information" data-toggle="popover" data-placement="bottom" data-content="- Account Number : {{ i.account_number }} <br> - Registered Mobile Number : {{ i.registered_mobile_number }} <br> - Date of Birth : {{ i.dob }} <br> - Mother's Maiden Name : {{ i.mothers_name }}">Display Info</td>
                                                <td>
                                                    {{i.get_status_display}}
                                                </td>
                                                <td>{% if i.reason == None or i.reason == "" %} - {% else %} {{ i.reason }} {% endif %}</td>
                                                <td>
                                                    -
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="5" class="text-center">Nothing history for verification</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block js %}

<script type="text/javascript">
$(document).ready(function(){
    $('.show_data').popover({ 
        html : true,
        trigger: 'hover',
        template: '<div class="popover" style="width:300px;" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
    });
})
function remove_agent(obj, key) {
    var ask = confirm('Do you really to delete this agent?');
    if (ask) {
        $.ajax({
            type:"POST",
            cache:false,
            url:"{% url 'agent_delete' %}",
            data:{
                'csrfmiddlewaretoken':'{{ csrf_token }}',
                'key':key
            },
            beforeSend:function(){
                $(obj).html('Loading.. <span class="fa fa-trash-o"></span>');
            },
            success:function(resp){
                if (resp['status']) {
                    $(obj).parent().parent().fadeOut();
                }

            }
        });
    }
}

function accept_status(id, val){
    var get_id = id;
    var status = val;

    if (val == 1 || val == "1") {
        var ask = confirm('Do you really to verified/approved request service provider?');
        if (ask) {
            $.ajax({
                type:"POST",
                cache:false,
                url:"{% url 'verified-subscribe-provider' %}",
                data:{
                    'csrfmiddlewaretoken':'{{ csrf_token }}',
                    'key':get_id,
                    'reason': 'Verified/Approved by Agent {{ request.user.first_name }} {{ request.user.last_name }}',
                    'val': status
                },
                success:function(resp){
                    // console.log(resp['status']);
                    if (resp['status']) {
                        // $("#row_"+get_id).remove();
                        location.reload();
                    }
                }
            });
        }
    } else {
        var ask = confirm('Do you really to rejected request service provider?');
        if (ask) {
            $('#key_id').val(id);
            $('#status_id').val(val);
            $('#reject_req').modal({
                show: true,
                backdrop: 'static',
                keyboard: true
            })
            
        }
    }
}

function submit_reject(){
    var get_id = $('#key_id').val();
    var status = $('#status_id').val();
    var reason = $('#reject-text').val();
    $.ajax({
        type:"POST",
        cache:false,
        url:"{% url 'verified-subscribe-provider' %}",
        data:{
            'csrfmiddlewaretoken':'{{ csrf_token }}',
            'key':get_id,
            'reason': reason,
            'val': status
        },
        success:function(resp){
            // console.log(resp['status']);
            if (resp['status']) {
                $('#reject_req').modal('hide');
                location.reload();
            }

        }
    });
}

function popup_chat(obj){
    // $( "#test" ).load( "{% url 'ticket_view' %}?id="+obj );
    $.ajax({
        url: "{% url 'ticket_view' %}?id="+obj,
        success: function (data) { 
            console.log(data);
            $('.test').append('<p style="position:relative; float:left;">'+data+'</p>'); 
        },
        // dataType: 'html'
    });
}

</script>
{% endblock %}